<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular_Form</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.0/angular-messages.min.js"></script>
  <script src="js/module.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-app='myApp' ng-controller='mainCtrl'>
  <div id="headline">
    <h1>Match Me
      <span><i class="medium droid material-icons">android</i></span>
      <span><i class="medium material-icons">android</i></span>
    </h1>
    <p id="small">Meet your match (or at least a new flame).</p>
  </div>
  <div class="container">

  <div class="row">
    <form class="col s12" name='userForm' ng-submit='submitUserForm()' autocomplete='off'>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="email" placeholder="Enter email address" ng-model='user.email' name='email' minlength='10' required>
          <label for="icon_prefix">Email</label>
          <div ng-messages="userForm.email.$error" role="alert">
            <div ng-message="required">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              Please enter a value for this field.
            </div>
            <div ng-message="userForm.email.$error">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              This field must be a valid email address.
            </div>
            <div ng-message="minlength">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              This field can be at minimum 10 characters long.
            </div>
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" placeholder="XXX-XXX-XXXX" ng-pattern="phoneRegex" ng-model='user.phone' name='phone'>
          <label for="icon_telephone">Telephone</label>
          <div ng-messages="userForm.phone.$error" role="alert">
            <div ng-message="pattern">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              Please enter a valid phone number.
            </div>
        </div>
      </div>
  </div>
   <div class="row">
     <div class="input-field col s6">
         <input placeholder="Placeholder" type="text" class="validate" placeholder="Enter a password" ng-model='user.password1' ng-pattern="passwordRegex" name='password1'>
         <label for="first_name">Password</label>
         <div ng-messages="userForm.password1.$error" role="alert">
           <div ng-message="pattern">
             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
             Please enter a valid password.
           </div>
         </div>
       </div>
       <div class="input-field col s6">

         <input type="text" class="validate" placeholder="Confirm your password" ng-model='user.password2' name='password2' ng-pattern="passwordRegex">
         <label for="last_name">Password Confirmation</label>
         <div ng-messages="userForm.password2.$error" role="alert">
           <div ng-message="pattern">
             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
             Please enter a valid password.
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">credit_card</i>
         <input type="number" class="credit" placeholder="Enter credit card number" ng-model="user.credit" name="credit" ng-pattern="ccRegex" required>
         <label for="cc">Credit Card #</label>
         <div ng-messages="userForm.credit.$error" role="alert">
           <div ng-message="required">
             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
             Please enter a value for this field.
           </div>
           <div ng-message="pattern">
             <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
             Credit card invalid.
           </div>
         </div>
       </div>
     </div>

      <div class="row">
       <div class="input-field col s3">
         <input type="number" class="validate" placeholder="Enter MMYY" ng-model='user.exp' ng-pattern="expRegex" name='exp' required>
         <label for="cc">Expiration</label>
         <div ng-messages="userForm.exp.$error" role="alert">
           <div ng-message="pattern">
             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
             Please enter a valid expiration.
           </div>
         </div>
       </div>
       <div class="input-field col s3">
         <input type="number" name='cvv' class="validate" placeholder="Enter cvv number" ng-model='user.cvv' ng-pattern="cvvRegex" required>
         <label for="cc">CVV</label>
         <div ng-messages="userForm.cvv.$error" role="alert">
           <div ng-message="pattern">
             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
             Please enter a valid cvv.
           </div>
         </div>
       </div>
       <div class="input-field col s3">
         <input type="text" class="validate" placeholder="Enter Country" ng-model='user.country'>
         <label for="cc">Country</label>
       </div>
       <div class="input-field col s3">
         <input type="number" name='postal' class="validate" placeholder="Enter postal code" ng-model='user.postal' ng-pattern="zipRegex" required>
         <label for="cc">Postal Code</label>
         <div ng-messages="userForm.postal.$error" role="alert">
           <div ng-message="pattern">
             <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
             Please enter a valid postal code.
           </div>
         </div>
       </div>
     </div>
     <button type='submit' class="btn-floating btn-large red"><i class="large material-icons" ng-click="addUser()">android</i></button>
     <p id='pText'>Click me to submit!</p>
     <br>
     <a class="waves-effect waves-light btn"><i class="material-icons left">payment</i>VISA</a>
     <a class="waves-effect waves-light btn"><i class="material-icons left">payment</i>MASTERCARD</a>
     <a class="waves-effect waves-light btn"><i class="material-icons left">payment</i>AMEX</a>
     <a class="waves-effect waves-light btn"><i class="material-icons left">payment</i>DISCOVER</a>
   </form>
 </div>

 <div class="row">
    <form class="col s12">
      <p id="options">Optional profile add ons</p>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">picture_in_picture</i>
          <input type="text" class="validate" ng-model="user.image" placeholder="Enter a great pic">
          <label for="">Image URL</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input type="text" class="validate" ng-model="user.desc" placeholder="Enter a short bio">
          <label for="">All about you</label>
        </div>
      </div>
    </form>
  </div>

</body>
</html>
